<!DOCTYPE html>
<html xmlns: th = "http://www.thymeleaf.org">
<head>
<title th:text= "${'Mouse Store'}"></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="styles/cart.css">
<link rel="stylesheet" type="text/css" href="styles/cart_responsive.css">
<meta name="description" content="Proyecto Catalogo">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
<link th:href="@{/plugins/colorbox/colorbox.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/responsive.css}">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="header_inner d-flex flex-row align-items-center justify-content-start">
			<div class="logo"><a th:text="${'Mouse Store'}" th:href="@{/index}"></a></div>
			<nav class="main_nav">
				<ul>
					<li><a th:text="${'Inicio'}" th:href="@{/index}"></a></li>
					<li><a th:text="${'Catalogo'}" th:href="@{/store}"></a></li>
					<li><a th:text="${'Registro'}" th:href="@{/registro}"></a></li>
					<li><a th:text="${'Carrito'}" th:href="@{/cart}"></a></li>
					
				</ul>
			</nav>
			<div class="header_content ml-auto">
				
				<div class="shopping">
					<!-- Cart -->
					<a th:href="@{/cart}" >
						<div class="cart">
							<img th:src="@{/images/shopping-bag.svg}" alt="" >
							<div class="cart_num_container" >
								<div class="cart_num_inner"  >
									<div class="cart_num"  th:text="${cantidadCarrito}" ></div>
								</div>
							</div>
						</div>
					</a>
					
					<!-- Avatar -->
					<a th:href="@{/login}">
						<div class="avatar">
							<img th:src="@{/images/avatar.svg}" alt="" th:text= "${ingresar}">
						</div>
					</a>
				</div>
			</div>

		
	</header>

	

	<!-- Home -->

	<div class="home">

		<!-- Home Slider -->

		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background"
						style="background-image: url(images/logoMouseStore.jpg)"></div>
					<div class="home_slider_content">
						<div class="home_slider_content_inner">
							<div class="home_slider_subtitle" th:text="${'MOUSE STORE'}"></div>
							<div class="home_slider_title" th:text="${'Confianza y Calidad'}">

							</div>
						</div>
					</div>
				</div>

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background"
						style="background-image: url(images/logoMouseStoreGrisFONDO.jpg)"></div>
					<div class="home_slider_content">
						<div class="home_slider_content_inner">
							<div class="home_slider_subtitle" th:text="${'MOUSE STORE'}"></div>
							<div class="home_slider_title" th:text="${'Confianza y Calidad'}"></div>
						</div>
					</div>
				</div>


				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background"
						style="background-image: url(images/logoMouseStoreNegro.jpg)"></div>
					<div class="home_slider_content">
						<div class="home_slider_content_inner">
							<div class="home_slider_subtitle" th:text="${'MOUSE STORE'}"></div>
							<div class="home_slider_title" th:text="${'Confianza y Calidad'}"></div>
						</div>

					</div>

				</div>
			</div>
			<!-- Home Slider Nav -->

			<div
				class="home_slider_next d-flex flex-column align-items-center justify-content-center">
				<img src="images/arrow_r.png" alt="">
			</div>

			<!-- Home Slider Dots -->

			<div class="home_slider_dots_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_slider_dots">
								<ul id="home_slider_custom_dots" class="home_slider_custom_dots">
									<li class="home_slider_custom_dot active">01.
										<div></div>
									</li>
									<li class="home_slider_custom_dot">02.
										<div></div>
									</li>
									<li class="home_slider_custom_dot">03.
										<div></div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	


	<!-- Cart -->

	<div class="cart_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cart_title">Tu Carrito</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_bar d-flex flex-row align-items-center justify-content-start">
						<div class="cart_bar_title_name">Producto</div>
						<div class="cart_bar_title_content ml-auto">
							<div class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end">
								<div class="cart_bar_title_price">Precio</div>
								<div class="cart_bar_title_quantity">Cantidad</div>
								<div class="cart_bar_title_total">Total</div>
								<div class="cart_bar_title_button"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_products">
						<ul>
							<li class=" cart_product d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
								<!-- Product Image -->
								<div class="cart_product_image"><img src="images/mouseGamerP.jpg" alt=""></div>
								<!-- Product Name -->
								<div class="cart_product_name"><a href="product.html">Nombre</a></div>
								<div class="cart_product_info ml-auto">
									<div class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">
										<!-- Product Price -->
										<div class="cart_product_price">Costo</div>
										<!-- Product Quantity -->
										<div class="product_quantity_container">
											<div class="product_quantity clearfix">
												<input id="quantity_input" type="text" pattern="[0-9]*" value="1">
												<div class="quantity_buttons">
													<div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
													<div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
												</div>
											</div>
										</div>
										<!-- Products Total Price -->
										<div class="cart_product_total">Costo Total</div>
										<!-- Product Cart Trash Button -->
										<div class="cart_product_button">
											<button class="cart_product_remove"><img src="images/trash.png" alt=""></button>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_control_bar d-flex flex-md-row flex-column align-items-start justify-content-start">
						<button class="button_clear cart_button">Borrar Carrito</button>
						
						<button class="button_update cart_button_2 ml-md-auto">Continue comprando</button>
					</div>
				</div>
			</div>
			<div class="row cart_extra">
				
				
				<!-- Cart Total -->
				<div class="col-lg-5 offset-lg-1">
					<div class="cart_total">
						<div class="cart_title">Total Carrito</div>
						<ul>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Subtotal</div>
								<div class="cart_total_price ml-auto">valor</div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Costo Envio</div>
								<div class="cart_total_price ml-auto">valor</div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Total</div>
								<div class="cart_total_price ml-auto">valor</div>
							</li>
						</ul>
						<button class="cart_total_button">Pagar </button>
					</div>
				</div>
			</div>
		</div>
	</div>

	

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="footer_logo"><a th:href="@{/index}" th:text="${'Mouse Store'}"></a></div>
					<nav class="footer_nav">
						<ul>
							<li><a th:text="${'Inicio'}" th:href="@{/index}"></a></li>
							<li><a th:text="${'Catalogo'}" th:href="@{/store}"></a></li>
							<li><a th:text="${'Registro'}" th:href="@{/registro}"></a></li>
							<li><a th:text="${'Carrito'}" th:href="@{/cart}"></a></li>
							
						</ul>
					</nav>
					<div class="footer_social">
						<ul>
							
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		</div>
	</footer>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/cart_custom.js"></script>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/styles/bootstrap4/popper.js}"></script>
<script th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
<script th:src="@{/plugins/colorbox/jquery.colorbox-min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>