<!DOCTYPE html>
<html xmlns:th="http://www.thimeleaf.org">
<head>
<title th:text= "${'Mouse Store'}"></title>
<meta charset="utf-8"/>

<meta name="description" content="Proyecto Catalogo">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
<link th:href="@{/plugins/colorbox/colorbox.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/responsive.css}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
<div class="container">
<header class="header">
		<div class="header_inner d-flex flex-row align-items-center justify-content-start">
			<div class="logo"><a th:text="${'Mouse Store'}" th:href="@{/index}"></a></div>
			<nav class="main_nav">
				<ul>
					<li><a th:text="${'Inicio'}" th:href="@{/index}"></a></li>
					<li><a th:text="${'Catalogo'}" th:href="@{/store}"></a></li>
					<li><a th:text="${'Registro'}" th:href="@{/registro}"></a></li>
					<li><a th:text="${'Carrito'}" th:href="@{/cart}"></a></li>
					
				</ul>
			</nav>
			<div class="header_content ml-auto">
				
				<div class="shopping">
					<!-- Cart -->
					<a th:href="@{/cart}" >
						<div class="cart">
							<img th:src="@{/images/shopping-bag.svg}" alt="" >
							<div class="cart_num_container" >
								<div class="cart_num_inner"  >
									<div class="cart_num"  th:text="${cantidadCarrito}" ></div>
								</div>
							</div>
						</div>
					</a>
					
					<!-- Avatar -->
					<a th:href="@{/login}">
						<div class="avatar">
							<img th:src="@{/images/avatar.svg}" alt="" th:text= "${ingresar}">
						</div>
					</a>
				</div>
			</div>

		
	</header>
	</div>
	
	<div class="home">

		<!-- Home Slider -->

		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background"
						style="background-image: url(images/logoMouseStore.jpg)"></div>
					<div class="home_slider_content">
						<div class="home_slider_content_inner">
							<div class="home_slider_subtitle" th:text="${'MOUSE STORE'}"></div>
							<div class="home_slider_title" th:text="${'Confianza y Calidad'}">

							</div>
						</div>
					</div>
				</div>

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background"
						style="background-image: url(images/logoMouseStoreGrisFONDO.jpg)"></div>
					<div class="home_slider_content">
						<div class="home_slider_content_inner">
							<div class="home_slider_subtitle" th:text="${'MOUSE STORE'}"></div>
							<div class="home_slider_title" th:text="${'Confianza y Calidad'}"></div>
						</div>
					</div>
				</div>


				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background"
						style="background-image: url(images/logoMouseStoreNegro.jpg)"></div>
					<div class="home_slider_content">
						<div class="home_slider_content_inner">
							<div class="home_slider_subtitle" th:text="${'MOUSE STORE'}"></div>
							<div class="home_slider_title" th:text="${'Confianza y Calidad'}"></div>
						</div>

					</div>

				</div>
			</div>
			<!-- Home Slider Nav -->

			<div
				class="home_slider_next d-flex flex-column align-items-center justify-content-center">
				<img src="images/arrow_r.png" alt="">
			</div>

			<!-- Home Slider Dots -->

			<div class="home_slider_dots_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_slider_dots">
								<ul id="home_slider_custom_dots" class="home_slider_custom_dots">
									<li class="home_slider_custom_dot active">01.
										<div></div>
									</li>
									<li class="home_slider_custom_dot">02.
										<div></div>
									</li>
									<li class="home_slider_custom_dot">03.
										<div></div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	
	<!-- FORMULARIO PARA GESTIONAR CLIENTES -->	
		
	
	<!-- Menu de Navegación Administrador -->	
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="text-warning" >Mouse Store Administrador</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Gestionar Productos <span class="sr-only">(current)</span></a>
      </li>
     <li class="nav-item active">
        <a class="nav-link" href="#">Gestionar Clientes <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
    
  </div>
</nav>

<!-- Creacion de tabla clientes -->
<div class="container" align="center">
<h1 class= "text-primary " th:text="${'LISTADO DE CLIENTES'}"></h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Identificador Cliente</th>
				<th>Nombre</th>
				<th>Correo</th>
				<th>Direccion</th>
				<th>Codigo Postal</th>
				<th>Telefono</th>
				<th>Celular</th>
				<th>Eliminar</th>
				

			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${cliente}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.nombre}"></td>
				<td th:text="${item.correo}"></td>
				<td th:text="${item.direccion}"></td>
				<td th:text="${item.codPostal}"></td>
				<td th:text="${item.telefono}"></td>
				<td th:text="${item.celular}"></td>
				
				
				<td><a class="btn btn-danger btn-xs" th:href="@{/eliminar/} + ${item.id}" onclick="return confirm('esta seguro?');">Eliminar</a></td>


			</tr>

		</tbody>
	</table>
</div>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="footer_logo"><a th:href="@{/index}" th:text="${'Mouse Store'}"></a></div>
					<nav class="footer_nav">
						<ul>
							<li><a th:text="${'Inicio'}" th:href="@{/index}"></a></li>
							<li><a th:text="${'Catalogo'}" th:href="@{/store}"></a></li>
							<li><a th:text="${'Registro'}" th:href="@{/registro}"></a></li>
							<li><a th:text="${'Carrito'}" th:href="@{/cart}"></a></li>
							
						</ul>
					</nav>
					<div class="footer_social">
						<ul>
							
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		</div>
	</footer>
	
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/styles/bootstrap4/popper.js}"></script>
<script th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
<script th:src="@{/plugins/colorbox/jquery.colorbox-min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>