<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
<title th:text="${'Mouse Store'}"></title>
<meta charset="utf-8" />

<meta name="description" content="Proyecto Catalogo">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css"
	th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
<link th:href="@{/plugins/colorbox/colorbox.css}" rel="stylesheet"
	type="text/css">
<link rel="stylesheet" type="text/css"
	th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/styles/responsive.css}">
</head>

<body>
	<div class="super_container">
		<!-- Header -->

		<header class="header">
			<div
				class="header_inner d-flex flex-row align-items-center justify-content-start">
				<div class="logo">
					<a th:text="${'Mouse Store'}" th:href="@{/index}"></a>
				</div>
				<nav class="main_nav">
					<ul>
						<li><a th:text="${'Inicio'}" th:href="@{/index}"></a></li>
						<li><a th:text="${'Catalogo'}" th:href="@{/store}"></a></li>
						<li><a th:text="${'Registro'}" th:href="@{/registro}"></a></li>
						<li><a th:text="${'Carrito'}" th:href="@{/cart}"></a></li>

					</ul>
				</nav>
				<div class="header_content ml-auto">

					<div class="shopping">
						<!-- Cart -->
						<a th:href="@{/cart}">
							<div class="cart">
								<img th:src="@{/images/shopping-bag.svg}" alt="">
								<div class="cart_num_container">
									<div class="cart_num_inner">
										<div class="cart_num" th:text="${cantidadCarrito}"></div>
									</div>
								</div>
							</div>
						</a>

						<!-- Avatar -->
						<a th:href="@{/login}">
							<div class="avatar">
								<img th:src="@{/images/avatar.svg}" alt="" th:text="${ingresar}">
							</div>
						</a>
					</div>
				</div>
		</header>
	</div>
	<div class="home">

		<!-- Home Slider -->

		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background"
						style="background-image: url(images/logoMouseStore.jpg)"></div>
					<div class="home_slider_content">
						<div class="home_slider_content_inner">
							<div class="home_slider_subtitle" th:text="${'MOUSE STORE'}"></div>
							<div class="home_slider_title" th:text="${'Confianza y Calidad'}">

							</div>
						</div>
					</div>
				</div>

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background"
						style="background-image: url(images/logoMouseStoreGrisFONDO.jpg)"></div>
					<div class="home_slider_content">
						<div class="home_slider_content_inner">
							<div class="home_slider_subtitle" th:text="${'MOUSE STORE'}"></div>
							<div class="home_slider_title" th:text="${'Confianza y Calidad'}"></div>
						</div>
					</div>
				</div>


				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background"
						style="background-image: url(images/logoMouseStoreNegro.jpg)"></div>
					<div class="home_slider_content">
						<div class="home_slider_content_inner">
							<div class="home_slider_subtitle" th:text="${'MOUSE STORE'}"></div>
							<div class="home_slider_title" th:text="${'Confianza y Calidad'}"></div>
						</div>

					</div>

				</div>
			</div>
			<!-- Home Slider Nav -->

			<div
				class="home_slider_next d-flex flex-column align-items-center justify-content-center">
				<img src="images/arrow_r.png" alt="">
			</div>

			<!-- Home Slider Dots -->

			<div class="home_slider_dots_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_slider_dots">
								<ul id="home_slider_custom_dots" class="home_slider_custom_dots">
									<li class="home_slider_custom_dot active">01.
										<div></div>
									</li>
									<li class="home_slider_custom_dot">02.
										<div></div>
									</li>
									<li class="home_slider_custom_dot">03.
										<div></div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Contruccion del formulario de registro de Clientes nuevos -->

	<div align="center" class="container">
		<h1 class="text-primary " th:text="${titulo}"></h1>
		<form center th:action="@{/registro}" th:object="${cliente}"
			method="post">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Nombre * :</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{nombre}" class="form-control"
						th:errorClass="'form-control alert-danger'" /> 
						
				</div>
				<small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Clave * :</label>
				<div class="col-sm-6">
					<input type="password" th:field="*{clave}" class="form-control"
						th:errorClass="'form-control alert-danger'" /> 
				</div>
				<small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}"></small>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Correo * :</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{correo}" class="form-control"
						th:errorClass="'form-control alert-danger'" /> 
				</div>
				
				<small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></small>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Direccion * :</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{direccion}" class="form-control"
						th:errorClass="'form-control alert-danger'" /> 
				</div>
				<small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Código Postal * :</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{codPostal}" class="form-control"
						th:errorClass="'form-control alert-danger'" /> 
				</div>
				<small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('codPostal')}" th:errors="*{codPostal}"></small>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Telefono Fijo :</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{telefono}" class="form-control"
						th:errorClass="'form-control alert-danger'" /> 
				</div>
				<small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Celular  *:</label>
				
				<div class="col-sm-6">
					<input type="text" th:field="*{celular}" class="form-control"
						th:errorClass="'form-control alert-danger'" /> 
				</div>
				<small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}"></small>
			</div>


			<div class="form-group row">

				<div class="col-sm-6">
					<input type="submit" value="Crear Cliente" class="btn btn-primary" />
				</div>
			</div>

			<div class="form-group row">

				<div class="col-sm-6">
					<small class="form-text text-danger"> (*)Campos necesarios</small>
				</div>
			</div>

			<input type="hidden" th:field="*{id}" />

		</form>

	</div>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="footer_logo">
						<a th:href="@{/index}" th:text="${'Mouse Store'}"></a>
					</div>
					<nav class="footer_nav">
						<ul>
							<li><a th:text="${'Inicio'}" th:href="@{/index}"></a></li>
							<li><a th:text="${'Catalogo'}" th:href="@{/store}"></a></li>
							<li><a th:text="${'Registro'}" th:href="@{/registro}"></a></li>
							<li><a th:text="${'Carrito'}" th:href="@{/cart}"></a></li>

						</ul>
					</nav>
					<div class="footer_social">
						<ul>

							<li><a href="#"><i class="fa fa-linkedin"
									aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"
									aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"
									aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"
									aria-hidden="true"></i></a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		</div>
	</footer>
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/styles/bootstrap4/popper.js}"></script>
	<script th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
	<script th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
	<script th:src="@{/plugins/easing/easing.js}"></script>
	<script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
	<script th:src="@{/plugins/colorbox/jquery.colorbox-min.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
</body>
</html>